<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <main>

        <section id="login">

            <form action="/hola" method="POST">

                <label for="userName">UserName:</label>
                <input id="userName" type="text" name="userName"  />
                <label for="pass">Password:</label>
                <input id="pass" type="password" name="pass"  />
                <button>enviar</button>
            </form>

        </section>


    </main>
    
</body>
</html>